@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="thumbnail">
        <img data src="~/Imagenes/Bienvenidos3.png" alt="" />
    </div>
   
    <h1>UNIVERSIDAD NACIONAL JOSÉ FAUSTINO SANCHEZ CARRIÓN-prospectiva</h1>
    <p><Center>Simpre Primeros y Siempre los Mejores</p></Center>
    <h1>@ViewBag.Inicio</h1>

    </div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data src="~/Imagenes/Imagen1.jpg" alt="" />
        </div>
        <h2><center>Adecuadas Instalaciones</center></h2>
        <p>
            Disponemos de instalaciones perfectamente equipadas para brindarle al estudiante la máxima comodidad en su estudio y aprendizaje.
        </p>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data src="~/Imagenes/Imagen2.jpg" alt="" />
        </div>
        <h2><center>Excelente Plana Docente</center></h2>
        <p>
            Nuestro equipo de profesionales cuenta con excelente trayectoria y formación en las diversas asignaturas que nos
            permitira una excelente y completa formación académica, para los niveles de primaria y secundaria en Huacho.
        </p>        
    </div>
<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <img data src="~/Imagenes/imagen3.jpg" alt=""/>
    </div>
    <h2><center>Talleres Interativos</center></h2>
    <p>Contamos con talleres de música, arte, clases de idiomas, educación física, juegos infantiles y muchos más.</p>
   </div>
</div>